{
    "presets" : [//code transform plugin
        ["env", {
            "targets":{
                "browsers" : [
                    "last 5 versions",
                    "ie >= 8"
                ]
            }
        }]
    ]
}